.footer {
  padding: 50px 0px;
  background: #e8eaef;
  .footer_right {
    display: flex;
    justify-content: space-between;
  }
} //

.container {
  max-width: 1320px;
  margin: 0 auto;
}

a {
  color: rgb(0, 0, 139);
  text-decoration: none;
}
h6 {
  font-size: 16px;
}

.made_by {
  font-size: 20px;
}
