body {
  background-color: white;
  font-family: "Work Sans";
}
a {
  text-decoration: none;
}

.header {
  background: #deecec;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 35px;
  nav {
    display: flex;
    align-items: center;
    a {
      margin-right: 40px;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      color: black;
      &:after {
        display: block;
        content: "";
        height: 3px;
        width: 0%;
        background-color: #225384;
        transition: width 0.4s ease-in-out;
      }
      &:hover:after,
      &:focus:after {
        width: 100%;
      }
    }
    // span:hover {
    //   font-weight: 500;
    // }
  }
  a {
    h2 {
      font-family: "Cormorant";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
    }
  }

  border-bottom: 1.5px #84babe solid;
}
.header_link {
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: #589195;
  img {
    margin-right: 10px;
  }
}
.header_buttons {
  display: flex;
  width: 10%;
  justify-content: space-between;
  margin-right: 5%;
}

.content {
  background: #deecec;
  margin-bottom: 60px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.main {
  h3 {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
  }
  h4 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .main_fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    img {
      margin-bottom: 10px;
    }
    h6 {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 5px;
    }
    p {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
    }
  }
  .items_table {
    display: flex;
  }
} //main

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 1;
  position: fixed;
  .drawer {
    position: absolute;
    right: 0;
    height: 100%;
    width: 385px;
    background-color: white;
    z-index: 2;
    padding: 30px;
    display: flex;
    flex-direction: column;
    .cart {
      flex: 1;
      overflow: auto;
    }
    .cart_btn {
      position: absolute;
      right: 20px;
      top: 30%;
      border: none;
      width: 50px;
      height: 50px;
      background: rgb(196, 196, 196);
      border-radius: 10px;
      opacity: 0.6;
      transition: 0.05s ease-in-out;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      color: black;
    }
    p {
      margin-top: 15px;
    }
    h3 {
      margin-bottom: 20px;
    }

    .cartItem {
      position: relative;
      display: flex;
      border: #7d7d7d solid 1px;
      border-radius: 20px;
      padding: 0px 15px;
      overflow: hidden;
      margin-bottom: 20px;
    }
    .cartItemImg {
      width: 130px;
      justify-content: center;
    }
    .cartTotalBlock {
      margin-top: 10px;
      margin-bottom: 30px;
      div {
        margin-bottom: 20px;
        display: flex;
        div {
          margin: 0px 4px;
          position: relative;
          bottom: 4px;
          flex: 1;
          border-bottom: dashed 1px black;
        }
      }
    }
    .greenBtn {
      margin-bottom: 50px;

      height: 55px;
      background: #9dd558;
      border-radius: 18px;
      border: 0;
      color: white;
      cursor: pointer;
      &:hover {
        background: #abd37a;
      }
      &:active {
        background-color: darken($color: #9dd558, $amount: 1.1);
      }
    }
  }
}
